@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  @apply h-screen overflow-hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.hover-italic {
  transition: font-style 0.3s ease;
}

.hover-italic:hover {
  font-family: var(--font-pp-light-italic);
}

